In [19]:
from sklearn.neighbors  import KNeighborsClassifier
from sklearn.feature_extraction.text  import CountVectorizer
import numpy as np
import pandas as pd
lang_of_girls=['mmmmmm i hate u a lot(:(:','kkkkk i hate hate u','bye imm gonna block you''']

'''Learn the vocabulary of girls ,pretty hard though(:'''
vector=CountVectorizer()
vector.fit(lang_of_girls)

document_mat=vector.transform(lang_of_girls)
'''Transform the vector'''
array=document_mat.toarray()
print(vector.get_feature_names())
file=pd.DataFrame(array,columns=vector.get_feature_names())
file

['block', 'bye', 'gonna', 'hate', 'imm', 'kkkkk', 'lot', 'mmmmmm', 'you']

   block  bye  gonna  hate  imm  kkkkk  lot  mmmmmm  you
0      0    0      0     1    0      0    1       1    0
1      0    0      0     2    0      1    0       0    0
2      1    1      1     0    1      0    0       0    1